.Info__emptyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    img {
        width: 100px;
        height: 100px;
    }
}